:root{
    --red:#DC0931;
    --blue:#217ECF;
    --green:#528841;
    --gray:#858585;
    --white:#E8E9EB;
    --black:#242424;
    --black2: #373737;
    --green2: #51AC5D;
    --yellow: #D9CB31;
    --lightblue: #8EE3FF;

}
@font-face{
    font-family: digital;
    src: url(./fuentes/DS-DIGI.TTF);
}
@font-face{
    font-family: screens;
    src: url(./fuentes/ShareTechMono-Regular.ttf);
}
@font-face{
    font-family: title;
    src: url(./fuentes/Valorant\ Font.ttf);
}
/* /////////////////////////// GENERAL ////////////////////////////////// */
body {
    background-color: var(--green);
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    text-align: left;
    margin: 4px;
    height: 10%;
    font-family: title;
    
}
img {
    height: 100%;
    width: 100%;
}
.pokedex {
    background-color: var(--red);
    border-radius: 20px;
    border: #242424;
    border-style:double;
    border-width: 10px;
    width: 96%;
    height: 96%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;    
}
.boton1, .boton2, .boton3, .boton4, #submiteador{
    background-color: var(--gray);
    height: 60%;
    width: 40%;
    border-radius: 4px;
    border-color: #373737;
    text-align: center;
    border-width: 2px;
    border-style: solid;
    font-family: screens;
    
}
.botones_left, .botones_right {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 20%;
    align-items: center;
}
.left, .right{
    display: flex;
    flex-direction: column;
    width: 48%;   
}
p {
    font-family: screens;
}
li{
    list-style: square;
    list-style-position: outside;
    font-family: screens;
}

/*////////////////////////// DERECHA//////////////////////////////////////*/
.right{
    border: var(--black);
    border-left-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.input{
    width: 100%;
    margin: 6px;
    height: 40%;  
}
.formu{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    
}
#num {
    width: 90%;
    background-color: var(--black2);
    color: #56FF34;
    height: 200%;
    font-size: x-large;
    text-align: right;
    border-radius: 6px;
    padding: 10px;
    border-color: var(--black);
    font-family: digital;
    font-size: xxx-large;
    

    
}
input::placeholder{
    color: #56FF34;
    text-align: right;
    align-items: center;
    font-family: digital;
    font-size: xxx-large;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.fake{
    height: 30%;
    width: 100%;
    object-fit: contain;
    margin: 6px;
    
}
/*/////////////////////////////////IZQUIERDA/////////////////////////////*/


.left{
    border-right-style: solid;
    border: var(--black);  
}

.screen {
    display: flex;
    flex-direction: column;
    background-color: black;
    border-radius: 4px;
    border-style: solid;
    border-color: grey;
    width: 98%;
    height: 70%;
    margin: 5px;
}
.up, .caracteristicas{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 50%;
    margin: 2px;
    margin-bottom: 4px;
}
.down {
    height: 40%;
}
.tipos {
    background-color: var(--green2);
    border-radius: 6px;
    height: 100%;
    margin: 2px;
    width: 30%;
}
.caracteristicas {
    background-color: var(--yellow);
    border-radius: 6px;
    margin: 2px;
    height: 90%;
    justify-content: space-around;
    align-items: center;
}
.foto {
    object-fit: cover;
}
.foto-contenedor{
    height: 100%;
    width: 70%;
    background-color: var(--blue);
    border-radius: 6px;
    margin: 2px;

}
.nombre {
    background-color: var(--lightblue);
    border-radius: 6px;
    margin: 2px;
    text-align: center;
}
/*////////////////////////////////NONE////////////////////////*/
.upN, .caracteristicasN{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 50%;
    margin: 2px;
    margin-bottom: 4px;
}
.downN {
    height: 40%;
}
.tiposN {
    background-color: #ACACAC;
    border-radius: 6px;
    height: 100%;
    margin: 2px;
    width: 30%;
}
.caracteristicasN {
    background-color: #ACACAC;
    border-radius: 6px;
    margin: 2px;
    height: 90%;
    justify-content: space-around;
    align-items: center;
}
.fotoN {
    object-fit: cover;
}
.foto-contenedorN{
    height: 100%;
    width: 70%;
    background-color:#ACACAC;
    border-radius: 6px;
    margin: 2px;

}
.nombreN {
    background-color:#ACACAC;
    border-radius: 6px;
    margin: 2px;
    text-align: center;
}
/*////////////////////////error////////////////////////////////////////////*/
.error{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: black;
    justify-content: space-around;
    align-items: center;
}
.error-cartel{
    background-color: red;
    border-radius: 4px;
    width: 80%;
    height: 80%;
    text-align: center;
    font-size: 5em;
    


}
.error-text{
    background-color: red;
    border-radius:  4px;
    font-size: 2em;
    height: 15%;
    width: 80%;
}